In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import optimize as op
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
import numpy as np
import sklearn

In [69]:
plt.rcParams['font.sans-serif'] = ['SimHei']  # 用来正常显示中文
plt.rcParams['axes.unicode_minus'] = False    # 用来正常显示负号

In [70]:
tr = pd.read_csv("train.csv")
te = pd.read_csv("test.csv")
tr_te = pd.concat([tr,te],axis=0,ignore_index=True)
tr_te.head()

  Campaign_id platform media_name    media type     grp  reach
0  C000000001   mobile    media c  social media   310.0  0.20%
1  C000000002   mobile   media a         others   301.0  0.70%
2  C000000004   mobile    media c  social media  1497.0  2.10%
3  C000000007   mobile    media g    long video  1281.0  2.40%
4  C000000010   mobile    media h    long video  1627.0  2.40%

In [71]:
te.info()  #查看列名、缺失情况、数据类型
te.describe() #数值型特征描述统计

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3501 entries, 0 to 3500
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Campaign_id  3501 non-null   object
 1   platform     3501 non-null   object
 2   media_name   3501 non-null   object
 3   media type   3501 non-null   object
 4   grp          3501 non-null   int64
dtypes: int64(1), object(4)
memory usage: 136.9+ KB

                 grp
count    3501.000000
mean     1412.758640
std      3765.277001
min         0.000000
25%        94.000000
50%       386.000000
75%      1438.000000
max    103909.000000

In [72]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

label = LabelEncoder()

# 法一：
te['platform'] = label.fit_transform(tr['platform'])  
te['media_name'] = label.fit_transform(tr['media_name']) 
te

     Campaign_id  platform  media_name    media type   grp
0     C000000001         0           2  social media   324
1     C000000002         0           0        others   311
2     C000000004         0           2  social media  1550
3     C000000007         0           6    long video  1375
4     C000000010         0           7    long video  1726
...          ...       ...         ...           ...   ...
3496  C000006484         1           3        others   194
3497  C000006485         1           4        others   581
3498  C000006486         1           5        others  3917
3499  C000006491         1           8        others   557
3500  C000006508         1          14        others   187

[3501 rows x 5 columns]

In [73]:
equa = pd.read_csv("模型拟合优度.csv")

In [74]:
equa

,platform,media_name,equation,fitness
0,0,0,8.358285172896518e-16 * x**4 + -5.978935137607...,0.929553
1,0,1,-7.081280429736431e-12 * x**4 + 2.999371870074...,0.942529
2,0,2,-1.6077207744876006e-20 * x**4 + 8.48811851568...,0.921959
3,1,3,-2.3494194342646287e-16 * x**4 + 2.27923036357...,0.954361
4,1,4,-2.512461043964151e-16 * x**4 + 2.199926132543...,0.926692
5,1,5,-8.878274943725435e-19 * x**4 + 6.239204503759...,0.870235
6,0,6,-1.1712201615384215e-17 * x**4 + 3.31148113541...,0.952121
7,1,6,-4.686849254836497e-17 * x**4 + 6.579543084065...,0.952933
8,0,7,-7.305977793522002e-19 * x**4 + 5.637864250726...,0.964186
9,1,7,3.296158065571345e-17 * x**4 + -2.263490438681...,0.947447
10,1,8,2.9473416565258246e-15 * x**4 + -1.68513171852...,0.925948
11,0,9,-1.5522076228882632e-16 * x**4 + 2.29505248891...,0.911892
12,0,10,-1.6653707652903848e-18 * x**4 + 2.05841967834...,0.806010
13,0,11,-9.016297847286996e-17 * x**4 + 1.077781524477...,0.883193
14,1,11,-1.839554348303191e-16 * x**4 + 2.123329552375...,0.925562
15,0,12,-4.596465520692898e-20 * x**4 + 8.759334857218...,0.913755
16,1,13,-1.9137839101289758e-15 * x**4 + 1.87728765489...,0.947637
17,1,14,-6.640993387854705e-16 * x**4 + 3.547186462060...,0.965163
18,0,15,-1.0663157697281528e-13 * x**4 + 1.29959972106...,0.923575
19,1,15,1.053741488139117e-15 * x**4 + -2.578700169250...,0.963865
20,0,16,-6.088657380139951e-20 * x**4 + 1.907179782832...,0.848991

In [76]:
df3 = pd.merge(te,equa,on=['platform','media_name'],how='left')
df3 = df3.drop(columns = 'fitness')

In [77]:
df3

,Campaign_id,platform,media_name,media type,grp,equation
0,C000000001,0,2,social media,324,-1.6077207744876006e-20 * x**4 + 8.48811851568...
1,C000000002,0,0,others,311,8.358285172896518e-16 * x**4 + -5.978935137607...
2,C000000004,0,2,social media,1550,-1.6077207744876006e-20 * x**4 + 8.48811851568...
3,C000000007,0,6,long video,1375,-1.1712201615384215e-17 * x**4 + 3.31148113541...
4,C000000010,0,7,long video,1726,-7.305977793522002e-19 * x**4 + 5.637864250726...
...,...,...,...,...,...,...
3496,C000006484,1,3,others,194,-2.3494194342646287e-16 * x**4 + 2.27923036357...
3497,C000006485,1,4,others,581,-2.512461043964151e-16 * x**4 + 2.199926132543...
3498,C000006486,1,5,others,3917,-8.878274943725435e-19 * x**4 + 6.239204503759...
3499,C000006491,1,8,others,557,2.9473416565258246e-15 * x**4 + -1.68513171852...
3500,C000006508,1,14,others,187,-6.640993387854705e-16 * x**4 + 3.547186462060...

In [89]:
curve_reach = []
for row in df3.index:
    equation0 = df3.loc[row]['equation']
    X0 = df3.loc[row]['grp']
    Y_predict = list(map(lambda x:eval(equation0),[X0]))
    for i in Y_predict:
        curve_reach.append(i)


curve_reach = pd.DataFrame(curve_reach)   
        
curve_reach[curve_reach < 0] = 0

In [90]:
prediction = pd.concat([te,curve_reach],axis=1,ignore_index=False)
prediction.rename(columns = { 0 : 'curve_reach'},inplace = True)
prediction[u'curve_reach'] = prediction[u'curve_reach'].apply(lambda x: format(x, '.2%'))  
prediction

     Campaign_id  platform  media_name    media type   grp curve_reach
0     C000000001         0           2  social media   324       0.44%
1     C000000002         0           0        others   311       0.64%
2     C000000004         0           2  social media  1550       1.97%
3     C000000007         0           6    long video  1375       2.83%
4     C000000010         0           7    long video  1726       2.86%
...          ...       ...         ...           ...   ...         ...
3496  C000006484         1           3        others   194       0.42%
3497  C000006485         1           4        others   581       0.66%
3498  C000006486         1           5        others  3917       3.16%
3499  C000006491         1           8        others   557       0.74%
3500  C000006508         1          14        others   187       0.38%

[3501 rows x 6 columns]

In [91]:
prediction.to_csv('Test_Prediction0.csv')